body {
  background-color: #f9f9f9;
}

.add-pizza {
  display: grid;
  margin: 60px 150px;
  align-items: center;
  justify-content: center;
}

.add-pizza-h1 {
  font-size: 62px;
}

.add-pizza-ul {
  gap: 24px;
  display: flex;
  list-style-type: none;
  padding-bottom: 80px;
}

.add-ul-btn {
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 50px;
  padding: 11px 55px;
  font-size: 30px;
  transition: 0.5s;
}

.add-ul-btn:hover {
  opacity: 0.8;
}

.add-ul-btn_1 {
  background-color: #f46e0e;
  transition: 0.5s;
  position: relative;
  top: -2px;
  border: none;
  border-radius: 50px;
  padding: 11px 55px;
  font-size: 30px;
  transition: 0.3s;
}

.add-ul-btn_1:hover {
  opacity: 0.8;
}

.cards-img img {
  width: 100%;
  height: 100vh;
  max-width: 384px;
  max-height: 274px;
}

.add-pizza-cards {
  display: flex;
  gap: 24px;
}

.cards-info {
  position: relative;
  top: -6px;
  background-color: #ffffff;
  box-shadow: 0px 4px 51px 0px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-inline: 13px;
  padding-block: 19.5px;
}

.card-text h1 {
  font-weight: 600;
  font-size: 26px;
}

.card-text p {
  font-weight: 600;
  font-size: 20px;
}

.card-text {
  width: 260px;
}

.card-add {
  padding-top: 24px;
  display: flex;
  gap: 15px;
}

.card-add p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.card-btn {
  font-size: 22px;
  font-weight: bold;
  padding: 13px 44px;
  transition: 0.5s;
}

.card-btn:hover {
  opacity: 0.8;
}

@media (max-width: 1420px) {
  .add-pizza {
    margin: 60px 100px;
  }

  .add-pizza-h1 {
    font-size: 50px;
  }

  .add-pizza-ul {
    gap: 15px;
    padding-bottom: 40px;
  }

  .add-ul-btn {
    padding: 8px 50px;
    font-size: 25px;
  }

  .add-ul-btn:hover {
    opacity: 0.8;
  }

  .add-ul-btn_1 {
    padding: 8px 50px;
    font-size: 25px;
    transition: 0.5s;
  }

  .add-ul-btn_1:hover {
    opacity: 0.8;
  }

  .cards-img img {
    max-width: 284px;
    max-height: 200px;
  }

  .card-text {
    width: 260px;
  }

  .add-pizza-cards {
    display: flex;
    gap: 10px;
  }

  .cards-info {
    position: relative;
    top: -6px;
    background-color: #ffffff;
    box-shadow: 0px 4px 51px 0px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-inline: 10px;
    padding-block: 19.5px;
  }

  .card-text h1 {
    font-weight: 700;
    font-size: 22px;
  }

  .card-text p {
    font-weight: 600;
    font-size: 20px;
  }

  .card-add {
    padding-top: 20px;
    display: flex;
    gap: 10px;
  }

  .card-add p {
    font-size: 18px;
  }

  .card-btn {
    font-size: 18px;
    padding: 10px 18px;
  }
}

@media (max-width: 575px) {
  .add-pizza {
    margin: 30px 30px;
  }

  .add-pizza-h1 {
    color: #000000;
    font-size: 30px;
  }

  .add-pizza-ul {
    gap: 5px;
    padding-bottom: 10px;
  }

  .add-ul-btn {
    padding: 8px 20px;
    font-size: 15px;
  }

  .add-ul-btn:hover {
    opacity: 0.8;
  }

  .add-ul-btn_1 {
    padding: 8px 20px;
    font-size: 15px;
    transition: 0.5s;
  }

  .add-ul-btn_1:hover {
    opacity: 0.8;
  }

  .cards-img img {
    max-width: 350px;
    max-height: 350px;
  }

  .cards-img {
  }

  .card-text {
    width: 260px;
  }

  .add-pizza-cards {
    display: grid;
    justify-content: center;
    gap: 10px;
  }

  .cards-info {
    top: -6px;
    background-color: #ffffff;
    box-shadow: 0px 4px 51px 0px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-inline: 10px;
    padding-block: 19.5px;
  }

  .card-text h1 {
    font-weight: 700;
    font-size: 26px;
  }

  .card-text p {
    font-weight: 600;
    font-size: 26px;
  }

  .card-add {
    padding-top: 20px;
    display: flex;
    gap: 20px;
  }

  .card-add p {
    font-size: 26px;
  }

  .card-btn {
    font-size: 20px;
    padding: 10px 18px;
  }
}
